<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-ML</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
</head>
<body>
    <div class="form-body">
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h3>Get more things done with your images.</h3>
                    <img  id="outImage" src="{% static 'images/graphic.svg' %}" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content" style="background-color: #9F9CF3">
                    <div class="form-items">
                        <div class="website-logo-inside">
                            <a href="">
                                <div class="logo">
                                    <p style="color: white; font-size: 30px"><b>Web-ML</b></p>
                                    <p style="color: white; font-size: 14px; margin-top: -20px;">The art of learning</p>
                                </div>
                            </a>
                        </div>
                        <div class="page-links">
                            <a href=" " class="active">Play with images</a>
                        </div>
                        <form>
                            <select class="form-control">
                                <option>Choose Your Services</option>
                                <option>Object Detection</option>
                                <option>Face Analysis</option>
                                <option>Celebrity Detection</option>

                            </select><br>

                            <input class="form-control" id="inputImage" type="file" onchange="ChangeImage(event)" name="image" placeholder="Password" required>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">PLAY</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    function ChangeImage(e){
    var image = document.getElementById("outImage");
    image.src = URL.createObjectURL(e.target.files[0]);
    }
</script>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>